.footer {
    width: 100%;
    height: 250px;
    background-color: #121619;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer .ourPagesLinks {
    list-style-type: none;
    padding-inline-start: 0;
    display: flex;
    margin: 1em;
    max-width: 100%;
    height: auto;
    padding-bottom: 21px;
    border-bottom: 0.08em solid white;
}

.footer .ourPagesLinks li {
    display: inline-block;
    width: auto;
    height: 4em;
    margin: 8px;
    border: 1px solid transparent;
}

.footer .ourPagesLinks img {
    width: calc(100% + 2px);
    margin: -1px;
    object-fit: cover;
}

.footer .ourPagesLinks img:hover {
    transform: scale(1.1);
}

.footer .socialMediaLinks {
    list-style-type: none;
    padding-inline-start: 0;
    display: flex;
    margin: 5px;
}

.footer .socialMediaLinks svg {
    color: white;
    margin: 5px;
    padding: 5px;
    font-size: 40px;
    cursor: pointer;
}

.footer .socialMediaLinks svg:hover {
    transform: scale(1.1);
    color: #e01c1c;
}

.footer p {
    margin-top: 5px;
}
