.footer {
    width: 100%;
    height: 300px;
    background-color: #121619;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .ourPagesLinks {
    display: flex;
    margin: 1em 1em;
    max-width: 100%;
    height: auto;
    padding-bottom: 25px;
    border-bottom: 0.08em solid white;
}

.footer .ourPagesLinks a {
    display: inline-block;
    width: auto;
    height: 4em;
    margin: 8px;
    border: 1px solid transparent;
}

.footer .ourPagesLinks img {
    width: calc(100% + 2px);
    margin: -1px;
    object-fit: cover;
}

.footer .ourPagesLinks img:hover {
    transform: scale(1.1);
}

.footer .socialMediaLinks svg {
    color: white;
    margin: 10px;
    font-size: 40px;
    cursor: pointer;
}

.footer .socialMediaLinks svg:hover {
    transform: scale(1.1);
}

.footer p {
    color: white;
}
