.addKudosForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.kudosInput {
    width: 600px;
    font-size: 12px;
    height: 80px;
    box-sizing: border-box;
    overflow: auto;
    padding: 10px;
    border: 1px solid #5c5c5c;
    border-radius: 6px;
    resize: none;
}

.publishKudosButtonContainer {
    display: flex;
    margin-top: 5px;
    align-self: center;
}

.publishKudosButton {
    font-size: 20px;
    margin-bottom: 5px;
    text-align: center;
    background-color: #121619;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 10px 30px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.publishKudosButton:hover {
    background-color: #e01c1c;
    color: #121619;
    transform: scale(1.1);
}

.publishKudosButton:disabled {
    cursor: not-allowed;
    background-color: #444444;
    color: #aaa9a9;
    opacity: 0.6;
    transform: none;
}

@media (max-width: 600px) {
    .mainNewsContainer {
        flex-wrap: wrap;
    }
    .kudosInput {
        width: 450px;
    }
}

@media (min-width: 600px) and (max-width: 750px) {
    .addKudosForm {
        flex-wrap: wrap;
    }
    .kudosInput {
        width: 500px;
    }
}

@media (min-width: 750px) and (max-width: 1300px) {
    .addKudosForm {
        flex-wrap: wrap;
    }
    .kudosInput {
        width: 600px;
    }
}
