.navBar {
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #121619;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.navBar a {
    color: white;
    text-decoration: none;
    margin: 10px;
    transition: ease-in-out 0.3s;
}

.navBar a:hover {
    color: #e01c1c;
}

.navBar .leftSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navBar .leftSide img {
    width: 80px;
}

.navBar .leftSide button {
    background-color: transparent;
    border: none;
    transition: ease-in-out 0.3s;
}

.navBar .leftSide button:hover {
    transform: scale(1.1);
}

.navBar .rightSide {
    list-style-type: none;
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    justify-content: center;
}

.navBar .rightSide button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.navBar .rightSide svg {
    font-size: 45px;
    transition: ease-in-out 0.3s;
}

.navBar .rightSide button:hover {
    transform: scale(1.1);
    color: #e01c1c;
}

.navBar #open img {
    display: none;
}

.navBar #close img {
    display: inherit;
}

.navBar #open .hiddenLinks {
    list-style-type: none;
    display: inherit;
    align-items: center;
}

.navBar #open .hiddenLinks a {
    display: inline-block;
    width: auto;
    margin: 5px;
    padding: 2px;
    text-align: center;
    text-wrap: nowrap;
}

.navBar #close .hiddenLinks {
    display: none;
}

.navBar #open a {
    width: 100px;
    margin: 2px;
}

@media (max-width: 600px) {
    .navBar .rightSide a {
        display: none;
    }

    .navBar .rightSide {
        justify-content: flex-end;
    }

    .navBar .rightSide button {
        display: inherit;
    }
}

@media (min-width: 600px) {
    .navBar .rightSide button {
        display: none;
    }

    .navBar .leftSide .hiddenLinks {
        display: none;
    }
}
