.newsSingleContent {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
        sans-serif;
}

.newsSingleContent img {
    padding-inline-start: 0;
    width: 400px;
    border-radius: 10px;
}

.newsSingleContent .textSingleContent {
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    text-align: center;
    margin: 10px;
}

.newsSingleContent .textSingleContent h1 {
    font-size: 30px;
}

.newsSingleContent .textSingleContent p {
    white-space: pre-wrap;
    word-break: break-all;
    font-size: 17px;
}
